.root {
  -fx-background-color: #F2F2F2;
}

#mainContainer {

}

#labelBookflow {
  -fx-font-family: "Lucida Console";
}

#anchorPaneMainMenu {
  -fx-background-color: #D4D4D4;
}

#labelHello {
  -fx-font-family: "Roboto Mono";
  -fx-font-weight: bold;
}

.button {
  -fx-font-family: "Roboto";
  -fx-font-weight: bold;
  -fx-background-color: #D4D4D4;
  -fx-font-size: 14;
}

#labelMainMenu1, #labelMainMenu2 {
  -fx-font-family: "Roboto Mono";
  -fx-font-weight: bold;
}

/*Add book page*/
.buttonsAddBook {
  -fx-background-color: rgb(24, 196, 255);
  -fx-text-fill: #FFFFFF;
}

.labelsInput {
  -fx-font-size: 15;
  -fx-font-weight: bold;
}

.textFields {
  -fx-start-margin: 0 0 0 20;
}

.comboBoxDate {
  /*-fx-background-color: #28C3E5;*/
  /*-fx-text-fill: #FFFFFF;*/
  /*-fx-color-label-visible: #FFFFFF;*/
  -fx-font-weight: bold;
}