.root {
  -fx-background-color: #F2F2F2;
}

#mainContainer {

}

#labelBookflow {
  -fx-font-family: "Lucida Console";
}

#anchorPaneMainMenu {
  -fx-background-color: #D4D4D4;
}

#labelHello {
  -fx-font-family: "Roboto Mono";
  -fx-font-weight: bold;
}

.button {
  -fx-font-family: "Roboto";
  -fx-font-weight: bold;
  -fx-background-color: #D4D4D4;
  -fx-font-size: 14;
}

#labelMainMenu1, #labelMainMenu2 {
  -fx-font-family: "Roboto Mono";
  -fx-font-weight: bold;
}


